# Default ignored files
/shelf/
/workspace.xml
# Ignore build output directories
/app/build/
/.gradle/
/build/

# Ignore specific file patterns
*.apk
*.bin
*.lock
*.class
*.dex
*.tab
*.tab.values.at
*.state.txt

# Ignore specific directories
app/build/tmp/
app/build/intermediates/
app/build/kotlin/